{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
	{% if perms.auth %}
	<div class="module"><h2>Auth</h2><table>
	    {% if perms.auth.add_group or perms.auth.change_group %}
	    <tr>
	        <th>{% if perms.auth.change_group %}<a href="auth/group/">{% endif %}Groups{% if perms.auth.change_group %}</a>{% endif %}</th>
	        <td class="x50">{% if perms.auth.add_group %}<a href="auth/group/add/" class="addlink">{% endif %}Add{% if perms.auth.add_group %}</a>{% endif %}</td>
	        <td class="x75">{% if perms.auth.change_group %}<a href="auth/group/" class="changelink">{% endif %}Change{% if perms.auth.change_group %}</a>{% endif %}</td>
	    </tr>
	    {% endif %}
	    {% if perms.auth.add_user or perms.auth.change_user %}
	    <tr>
	        <th>{% if perms.auth.change_user %}<a href="auth/user/">{% endif %}Users{% if perms.auth.change_user %}</a>{% endif %}</th>
	        <td class="x50">{% if perms.auth.add_user %}<a href="auth/user/add/" class="addlink">{% endif %}Add{% if perms.auth.add_user %}</a>{% endif %}</td>
	        <td class="x75">{% if perms.auth.change_user %}<a href="auth/user/" class="changelink">{% endif %}Change{% if perms.auth.change_user %}</a>{% endif %}</td>
	    </tr>
	    {% endif %}
	</table></div>
	{% endif %}
	
	{% include "admin/index_web.html" %}
	
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr|escape }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
