{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block title %}智能探测结果{% endblock %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block extrahead %}
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; 智能探测结果</div>{% endblock %}

{% block content %}

{% load webtags %}

<div id="content-main">
	{% if msg %}
	{{msg}}<br/>
	{% endif %}
	{% resultToHtml result %}
	<form action="/admin/smartload/" method="POST">
		<input type="submit" value="应用结果">
	</form>
	{# <table> #}
	{# 	<tr> #}
	{# 		<td> #}
	{# 			<table> #}
	{# 			<tr><td>ftp</td></tr> #}
	{# 			</table> #}
	{# 		</td> #}
	{# 		<td> #}
	{# 			<table> #}
	{# 			<tr> #}
	{# 				<td>机房1</td> #}
	{# 				<td> #}
	{# 					<table> #}
	{# 					<tr><td>1.1.1.1</td></tr> #}
	{# 					<tr><td>2.2.2.2</td></tr> #}
	{# 					</table> #}
	{# 				</td> #}
	{# 			</tr> #}
	{# 			<tr> #}
	{# 				<td>机房2</td> #}
	{# 				<td> #}
	{# 					<table> #}
	{# 					<tr><td>1.1.1.1</td></tr> #}
	{# 					<tr><td>2.2.2.2</td></tr> #}
	{# 					</table> #}
	{# 				</td> #}
	{# 			</tr> #}
	{# 			</table> #}
	{# 		</td> #}
	{# 	</tr> #}
	{# 	</table> #}
</div>

{% endblock %}
