0-59/5 * * * * /home/named/agent/UpdateAgent.sh
0-59/5 * * * * /home/named/agent/UploadLog.sh
0-59/5 * * * * /home/named/agent/UpdateIPList.sh
0-59/5 * * * * /home/named/agent/ProbeIPlist.sh
0-59/5 * * * * /home/named/agent/UploadProbeResults.sh
